*{ 
margin: 5;
  padding: 5;
  box-sizing : border-box;
}
body{
    style
   .profile-section {
    text-align : center ;
    margin-top : 30px;
}
.playwrite-au-qld-<uniquifier> {
  font-family: "Playwrite AU QLD", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  }
.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50% ;
  border: 3px solid #333;
  object-fit: cover ;
  box-shadow: 0 4px 10px rgba(0,  0, 0, 0.3);
  display: block ;
  margin: 0 auto 20px auto;
}
h1{
  text-align: centre ;
  color: #2c3e50;
}
h2 {
  color: #2c3e50;
  margin-top: 30px;
}
p{
  line-height: 1.6;
  margin-bottom: 10px
  }
 .contact, .projects{
   margin-top: 20px;
 }
  
